/* Copyright (c) 2010 CoffeeCup, All rights reserved - http://www.coffeecup.com/
----------------------------------------------------------------------------------------------------*/

/* Reset v1.0 | 20080212 - http://meyerweb.com/eric/tools/css/reset/
----------------------------------------------------------------------------------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
@font-face {
    font-family: "Roboto Condensed Light";
    src: url(./fuentes/'RobotoCondensed-Light.ttf') format("truetype");
}
@font-face {
    font-family: "Roboto Condensed Bold";
    src: url(./fuentes/'RobotoCondensed-Bold.ttf') format("truetype");
}
@font-face {
    font-family: "Roboto Condensed Regular";
    src: url(./fuentes/'RobotoCondensed-Regular.ttf') format("truetype");
}

label {
    width: 100%;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.8em;
    padding: 2px 10px;
    box-sizing: border-box;
    text-transform: uppercase;
    display: inline-block;
    font-weight: lighter;
    color: #777;
}
input {
    float: left;
    width: 100%;
    box-sizing: border-box;
    height: 32px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 3px;
    background: #fff;
    padding: 3px;
    font-size: 1.5em;
    font-family: 'Roboto Condensed', sans-serif;
    color: #000;
    font-weight: lighter;
}
select {
    float: left;
    width: 100%;
    box-sizing: border-box;
    height: 32px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 3px;
    background: #fff;
    padding: 3px;
    font-size: 1.1em;
    font-family: 'Roboto Condensed', sans-serif;
    color: #000;
    font-weight: lighter;
}

textarea {width: 100%;}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
	float: left;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}

del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Reset for HTML 5 Elements
----------------------------------------------------------------------------------------------------*/

/* tells browsers that don't read html 5 tags to render like divs */
header, footer, aside, nav, article, section {
	display: block;
	margin: 0;
	padding: 0;
}

/* clears containers with floated elements, no need for extra markup! */
.clear:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/* Type
----------------------------------------------------------------------------------------------------*/

html {
	font-size: 16px;
}

body {
	color: #333;
	font: 75%/1.5em Georgia, "Times New Roman", Times, serif;
}

h1, h2, h3, h4, h5, h6 {color: #666; font-size: 20px; font-family: 'Roboto Condensed', sans-serif;}

h1 {}
h2 {}
h3 {font-size: 1.2em;}
h4 {font-size: 20px;font-weight: 500; line-height: 22px;}
h5 {font-size: 1.3em; font-weight: normal; color: #fff; margin: 2px 0px 0px 10px;}
h6 {font-size: 1em; font-weight: bold;}
p {color: #666; font-family: 'Roboto Condensed', sans-serif; font-size:18px; line-height: 1.7em; text-align: left;}

blockquote {
	font-style: italic;
	font-weight: bold;
}

ul {
	list-style: disc;
	color: #555;
	font-size: 1.0em;
	font-weight: normal;
	line-height: 1.3em;
	float: left;
}

ol, ol.lowerRoman, ol.upperAlpha {
	list-style: decimal;
	color: #555;
	font-size: 1.0em;
	font-weight: normal;
	line-height: 1.3em;
}

ol.lowerRoman {
	list-style: lower-roman;
}

ol.upperAlpha {
	list-style: upper-alpha;
}

strong, b, .b {
	color: #555 !important;
	font-weight: bold;
}

a {
	color: #555;
	text-decoration: none;
}

/*a:link {
	color: #868484;
	outline: none;
	text-decoration: none;
}

a:visited {
	color: #555;
	outline: none;
	text-decoration: none;
}*/

a:hover {
	color: #555;
	text-decoration: underline;
}

a:active {
	color: #555;
	outline: none;
	text-decoration: none;
}

a:focus {
	outline: 1px dotted;
}

/* Spacing
----------------------------------------------------------------------------------------------------*/



h1, h2, h3, h4, h5, h6 {
	padding-bottom: 3px;
}

h3 {
	padding-top: 10px;
}

hr {
	border: 0 #ccc solid;
	border-top-width: 1px;
	clear: both;
	height: 0;
}

p {
	margin-right: 10px;
	padding: 5px 0;
}

blockquote {
	margin-right: 10px;
    padding: 5px 0 20px 0;
    float: right;
    width: 61%;
    font-size: 1.6em;
    line-height: 1.6em;
    font-weight: lighter;
	min-height: 119px;
}

ul, ol {
	margin-left: 25px;
	padding-left: 0;
}

li {
	margin-bottom: 15px;
	margin-left: 15px;
}

p, dl, hr, h1, h2, h3, h4, h5, h6, ol, ul, pre, table, address, fieldset {
	margin-bottom: 10px;
}

button, .button {font-family: 'Roboto Condensed', sans-serif; font-size: 22px; padding: 2px 10px; height: 35px; border: 1px solid rgba(0,0,0,0.3); border-radius: 3px;background: #fff; color: #999; float: right; margin: 16px 10px 0px 10px;line-height: 32px; display: inline-block; box-sizing: border-box;}
button:hover, .button:hover {color:#000}
/* Layout
----------------------------------------------------------------------------------------------------*/

html {
	background:#dddddd;
	padding: 0 0 40px;
	text-align: center;
}

body {
	margin-bottom: 20px;
	width: 100%;
	margin: 0 auto;
	border: none;
}

header {background: transparent;
    height: auto;
    width: 100%;
    position: relative;
    min-height: 140px;
    z-index: 10;
    max-width: 1200px;
    margin: 0px auto;
}
.menu_bar {
    display:none;
}
header h2 {
	color: #073E47;
	float: right;
	font-size: 1.8em;
	line-height: 1.2em;
	margin-top: 20px;
	padding-bottom: 15px;
	width: 60%; /* 560/960 */
	text-align: left;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: lighter;    clear: both;    position: absolute;
    right: 0px;
}
header h1 {
	font-size: 0em;
    color: transparent;
    white-space: nowrap;
    line-height: 2em;
    text-align: left;
    margin: 0px 0px 0px 7%;
    border: none;
    float: left;
    width: 27%;
    height: 130px;
    background: url(../img/web_lateral_logo.png) no-repeat;
    background-size: 100%;
}

header h1 a {
	width: 100%;
	cursor: pointer;
	display: inline-block;
	padding:0px;
	height: 100%;
}
.reserva_cont h2 {display:none;}


#site-content{    background: transparent;
    clear: both;
    margin: 0px auto;
    padding: 0;
    min-height: 400px;
    max-width: 1200px;
    position: relative;
}
.reserva_cont {background: rgba(255,255,255,0.8);float: left;padding-top: 13%;padding-bottom: 0px; width: 30%; /* 200/920 */text-align: left;position: absolute;top: -35%;left: 5%;}
.reserva_cont::after {    width: 100%;
    bottom: -73px;
    position: absolute;
    background: url(../img/web_lateral_bottom.png) no-repeat center top;
    background-size: 100% 75px;
    content: "";
    height: 73px;
    left: 0px;}
.reserva_cont h3 {
    color: #555;
    font-weight: lighter;
    font-size: 30px;
    line-height: 1em;
    margin: 0px 0px 10px 0px;
    padding: 0px 10px;
    float: left;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
}
.reserva_cont h3::before {    content: "";
    width: 100%;
    margin: 0px 0px 10px 0px;
    height: 10px;
    background: url(../img/web_lateral_adorno.png) no-repeat center center;
    display: inline-block;
    background-size: 90% 100%;}
.reserva_cont .reserva {
width:100%;
height:auto;
float:left;
list-style: none;
margin: 0px;
padding: 0px;
}
.reserva_cont .reserva::after {content: "";
    width: 100%;
    margin: 20px 0px 0px 0px;
    height: 10px;
    background: url(../img/web_lateral_adorno.png) no-repeat center center;
    display: inline-block; background-size: 90% 100%;}
.reserva li {
	float: left;
	width: 100%;
	box-sizing:border-box ;
	padding: 5px 10px;
	margin: 0px;
}

.reserva li input {
float:left;
width: 100%;
box-sizing: border-box;
height: 32px;
border: 1px solid rgba(0,0,0,0.3);
border-radius:3px;
background: #fff url("../img/web_calendario.png") right 1px no-repeat;
padding:3px;
font-size: 1.5em;
font-family: 'Roboto Condensed', sans-serif;
color:#000;
font-weight: lighter;
}
.input-clean input {background: #fff!important;}
.reserva li select {
float:left;
width: 100%;
box-sizing: border-box;
height: 32px;
border: 1px solid rgba(0,0,0,0.3);
border-radius:3px;
background: #fff;
padding:3px;
font-size: 1.5em;
font-family: 'Roboto Condensed', sans-serif;
color:#000;
font-weight: lighter;
}
.reserva li label {
	width: 100%;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1.8em;	
	padding: 2px 10px;
	box-sizing: border-box;
	text-transform: uppercase;
	display: inline-block;
	font-weight: lighter;
	color:#777 ;
}

.reserva_cont div {
width: 100%;
box-sizing: border-box ;
float: left;
padding: 0 15px 15px 15px;
height: auto;
margin: 0px;
font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    line-height: 25px;
font-weight: lighter;
text-align: justify;
color: #6B6B6B;
}
.reserva ul {
width:100%;
float: left;
margin: 0px;
padding: 0px;
}
.reserva ul li {
width:auto!important;
float: left;
margin: 0px 10px 0px 0px!important;
}
.reserva ul li label {
	float:left;
	width: auto;
}
.reserva ul li input {
	width: auto;
	float: left;
	margin-top: -5px;
	margin-left: px ;
	
}
nav {   
    float: right;
    width: 65%;
    background: rgba(255,255,255,0.2);
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.2em;position: absolute;
    bottom: 0px;
    right: 0px; left: initial;
}
nav ul {list-style: none;
    width: auto;
    border: none;
    float: right;
    margin: 5px 0px;
    padding: 0px;
    display: block;min-width: 510px;
}

nav ul li {display: block;
    width: auto;
    margin: 0%;
    padding: 1.7%;
    float: left;
    border-right: 1px solid #C5C5C5;
    font-weight: lighter;
    transition: all 0.5s ease;
	}
nav ul li:last-of-type {border-right: none;}
nav ul li:hover {
  background-color: #DADADA;;
}

nav ul li a {
	width: 100%;
	font-size: 1.2em;
	/*padding: 2% 90px 2% 2%; */
	border: none;
	
}

nav ul li a:hover {
	color: #000;
	text-decoration: none;
}
.texto_intro {display:none;}

#mainRight, #mainRight2 {float: right; width: 100%; /* 560/960 */ text-align: left; display: inline-block; min-height: 600px;}

#mainRight h1 {color: #333;margin-bottom: 20px;border: none;}
#mainRight h2 { margin: 0 5%; padding-top: 10px; float: left; width: 90%; font-family: Georgia, "Times New Roman", Times, serif; border-bottom: 1px solid rgba(0,0,0,0.4); font-style: italic; font-weight: lighter; color: #073e47; padding: 20px 140px 10px 0px; line-height: 1em; text-transform: uppercase; position:relative; box-sizing: border-box;}
#mainRight h2 .button { text-transform: none; font-style: normal; font-size: 1em;font-weight: 400; position:absolute; right:0px; bottom:5px;}
#mainRight h3 {color: #013f49; font-weight: lighter; font-size: 2em; margin: 10px 0px; padding: 1% 0%; float: left; width: 100%; box-sizing: border-box; font-family: 'Roboto Condensed', sans-serif; text-transform: uppercase; line-height: 30px;}
#mainRight p {    width: 96%; float: left; font-family: 'Roboto Condensed', sans-serif; padding: 10px; margin: 2%; box-sizing: border-box; text-align: justify; font-weight: lighter;}
#mainRight ul {list-style: none; width: 90%; margin: 0 4%;; display: inline-block; padding: 10px;}
#mainRight ul li {float: left;}
.main_espacio {width: 100%; height: auto; float: left;}
img {width: 100%;}

.disponibilidad_lista {text-align:left;}
.disponibilidad_lista li {background: rgba(255,255,255,0.5);border-top: 1px solid rgba(0,0,0,0.2);border-bottom: 1px solid rgba(0,0,0,0.2); padding: 2% 2% 0% 2%; margin: 10px 0px;box-sizing: border-box;font-family: 'Roboto Condensed', sans-serif;font-size: 1.3em;}
.disponibilidad_lista li img {width: 27%; float: left; border: 1px solid #fff; padding: 10px;}
.disponibilidad_lista li span {color: #7a7777;font-size: 15px;}	
.disponibilidad_lista li h2 { float: right!important; width: 100%!important;margin: 0px 0px 20px 0px!important;padding: 0px!important; text-transform: initial!important;}
.disponibilidad_lista li strong {    margin: 0px 10px 0px 0px; width: auto!important;}
.disponibilidad_lista li p {line-height: 1.2em; width: 100%!important; padding: 0px!important; margin: 10px 0px!important;}	
.disponibilidad_lista ul { width: 98%!important; list-style:none!important; font-size: 15px; margin: 10px 0px!important; padding: 10px!important; background: rgba(2,61,70,0.3); border-radius: 15px; box-sizing: border-box;}
.disponibilidad_lista ul label {font-size: 1.2em ;}
.disponibilidad_lista ul li {    background: transparent; border: none; margin: 5px; padding: 3px; font-size: 1.2em; text-transform: uppercase; color: #fff; font-weight: lighter;  display: inline-block;}
.disponibilidad_lista ul li input {background: #fff;}
.disponibilidad_lista table {float: left; background: rgba(143, 185, 190, 0.37); width: 100%; height: auto; border: 1px solid #8FB9BE;}
.disponibilidad_lista table tr {height: auto; border-bottom:1px solid rgba(0,0,0,0.2); padding: 10px; box-sizing: border-box; display:block;}
.disponibilidad_lista table tr td {height: auto;width: auto;margin: 0px 0px 0px 10px;display: inline-block;}
.disponibilidad_botonera {    float: left; text-align: right; width: 100%; margin: 10px 0px; height:auto!important;}



.one_col, .two_col {width:100%; display:inline-block;}
.estadia {    font-size: 25px!important;
    margin: 0px!important;
    background: rgba(255,255,255,0.8)!important;
    padding: 10px!important;
    border-radius: 15px;
    width: 98%!important;}
.input_limpio {    background: transparent!important; border: none; color: #073e47; margin: 0px 0px 0px 7px; font-size: 25px;}

.one_col section {display:none; font-size: 2em;}
.one_col section+section {width:100%; display:inline-block;}

.two_col section {float: left; width: 45%; border: none; position:relative;}
.two_col section+section {float: right; width: 55%; border: none; font-size: 25px;}
.two_col section div {    position: relative; overflow: hidden; float: left; width: 100%;}
.fotoframe {height: auto!important; float: left; overflow: hidden; width: 100%;}
.fotoframe iframe {position: relative; margin: -75px 0px 20px -9px; width: 100%; height: 305px; float: left; display: inline-block;}

.ancho32 {width:32%!important;}
.ancho48 {width: 48%!important; margin: 5px 3px!important;}

.colLeft {
	float: left;
	width: 44.642857%; /* 250/560 */
	border: none;
}

.colRight {
	float: right;
	width: 53.571428%; /* 300/560 */
	border: none;
}

.colRight img {
	border: none;
	margin-bottom: 20px;
}

footer {clear: both;
    width: 100%;
    padding-right: 2.0833333%;
    border-top: 1px solid rgba(0,0,0,0.1);
    padding: 10px;
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0px auto;
    display: inline-block;;

}

footer p {
	float: left;
	font-size: 0.9em;
	text-align: center;
	width: 100%;
}

footer ul {
	float: left;
	list-style: none;
	width: 100%; /* 580/560 */
	margin-left: 0;
	padding-top: 20px;
	text-align: center;
	border-top: 1px solid rgba(0,0,0,0.1);
	font-family: 'Roboto Condensed', sans-serif;
}

footer ul li {
	display: inline;
	margin: 0 0.86206%; /* 5/580 */
	border: none;
}

footer ul li a {
	font-size: 1em;
	text-transform: uppercase;
}

footer ul li a:hover {
	color: #000;
}
/* Styles the thumbnail */

	margin: 0 5px 0 0;
	position: absolute;
	left: .2em;
	top: 50%;
	margin-top: -8px;
}
.ui-datepicker {
	background: #fff!important;
	border: 1px solid #000!important;
	padding: 10px!important;
	
}
.gallery {
    width: auto!important;
    padding: 0px!important;
    margin: 15px 0px 0px 10px!important; float:right;}
.gallery li {    margin: 0px!important;
    padding: 0px!important;
    width: auto!important;
    height: auto!important;}	
.gallery li img {border:none!important; padding:0px;}
.gallery li a {margin: 0px;
    padding: 2px 15px;}

.paginador {    display: inline-block;
    width: 100%;
    background: rgba(0,0,0,0.1);
    text-align: center;
    position: relative;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.2em;}
.paginador ul {    margin: 0px!important;
    padding: 0px!important;}    
.paginador ul li {width: 10%!important;
    display: inline-block;
    float: initial!important;
    text-align: center;    margin: 0px; font-size:1.2em;}
.paginador_centro {width: 30%!important;
    font-size: 0.7em;
    text-transform: uppercase;
    text-align: center;}
.paginador_total {    margin: 10px auto 0px auto;
    width: 100%;
    display: inline-block;
    background: rgba(0,0,0,0.1);
    text-transform: uppercase;
    padding: 3px 0px;}
    

@media only screen and (max-width: 990px){
.fotoframe iframe {height: 280px; }
}
    
@media only screen and (max-width: 900px){
.fotoframe iframe {height: 255px}
}

@media only screen and (max-width: 890px){
.fotoframe iframe {height:336px}
}
 @media only screen and (max-width: 889px){
.fotoframe iframe { transform: scale(0.7);width: 145%; margin: -105px 0px 0px -139px;height: 280px;}
}

@media screen and (max-width: 800px){
header h1 {width: 37%;} 
header h2 {width: 50%; margin: 10px 10px 0px 0px;font-size: 18px;}
.reserva_cont {font-size: 0.8em;width: 42%; top: -140px; padding-top: 16%;}
.main_espacio {margin-top: 10px; display: inline-block; height: auto;}
blockquote {width: 50%; font-size: 1.3em; margin: 0px;}	
.menu_bar {    width: 53%; margin: 0px;float: right; position: absolute;background: rgba(183, 216, 225, 0.52);display: inline-block; right: 0px;bottom: 0px;}
.menu_bar .bt-menu {display: block;padding: 0.5em; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; overflow: hidden; color: transparent; text-decoration: none; line-height: 0px; width: 10%; float: right; background: rgba(255,255,255,0.4);}
[class^="icon-"], [class*=" icon-"] { background: url(../img/web_menuicon.png) no-repeat center center; padding: 15px 0px; box-sizing: content-box; display: inline-block; width: 100%; background-size: 100% 85%;}
header nav {width: 48%; height: 100%; margin: 0; position: fixed; overflow: auto; left: -100%; background: rgba(54, 123, 130, 0.95); z-index: 100000000;}
nav ul {overflow: hidden; min-width:initial;}
nav ul li { display: block; float: none; border-bottom: 1px solid rgba(255,255,255,.3); text-align: center; padding: 1% 0; border-right:none;}
nav ul li:hover {background: none;}
nav ul li a {    display: block; padding: 10px 20px; color: #fff; text-decoration: none; text-align: left;}
nav h3 {display: none;}
.ancho32 {    margin: 4px!important;}
.ancho48 {width: 97%!important;}
#mainRight, #mainRight2 {float: none; width: 100%;}
button, .button {color: #073e47;}	
.two_col section {height: 220px;}
.two_col section+section {height:auto!important;}
.fotoframe iframe {height: 300px;}
}

@media only screen and (max-width: 375px){
.fotoframe {height: 300px!important;}	
.fotoframe iframe {height:530px!important}
}

@media only screen and (max-width: 320px){
.fotoframe {height: 244px!important;}	
.fotoframe iframe {height:460px!important}
}

@media only screen and (max-width: 480px){
.main_espacio {margin-top: 0px;}
.hidden {display:none;}
#mainRight ul {margin:0px;}
#mainRight ul li { width: 98%;}
.disponibilidad_lista li img { width: 24%;}
header {z-index: 10; height:auto; min-height: 98px;}
header nav {width: 66%;}
header h1 {width: 80%; margin: 0% 2%; position: absolute; top: 0px;  left: 3%;min-height: 100px;}
header h1 a {background: none; padding-top:0;}
header h2 {font-size: 1.4em; float: left; width: 82%; box-sizing: border-box; position: relative; margin: 2%; display: none;}
.reserva_cont {width: 90%; z-index: 1; position: relative; top: -100px; padding: 150px 0px 0px 0px; font-size: 1em; height: 100px!important;}    
.reserva_cont h1 {    width: 86%; margin: 0% 2%; position: absolute; top: -19%;}	
.reserva_cont h2 {display: inline-block; width: 90%; margin: 5%; font-family: 'Roboto Condensed', sans-serif; font-weight: lighter; color: #073E47; text-align: justify;}
.menu_bar {width: 15%; margin: 0px; top: 0px; bottom: initial; float: left; position: absolute; background: rgba(183, 216, 225, 0.52);}
.menu_bar .bt-menu {    width: 100%; float: right; background: rgba(255,255,255,0.4);}
.ancho32 {width:100%!important;}
.ancho48 {width: 98%!important;}
blockquote {width: 90%;margin:0% 5% 0px 5%;}
.foto_intro {position: absolute; top: -100px; height: 224px; padding-top: 5px; width: 100%; overflow: hidden;}
.foto_intro img {    width: auto; height: 120%; position: absolute; top: -5px; -webkit-filter: contrast(150%); filter: contrast(150%); left: -8px;}
nav ul li {padding: 2% 3px; float: right; width: 92%; text-align: right; margin: 0px 4px;}
nav ul li a {font-size: 1.1em; width: 100%; box-sizing: border-box; text-align: right; padding: 10px;}
footer p {padding-left: 2.0833333%; /* 20/960 */}
footer, footer ul, footer p { float: none; width: 100%;}
.colLeft, .colRight {float: none;width: 100%;}
.two_col section {width: 95%; height: 235px;}
.two_col section+section {width: 100%; height:auto!important;}
.texto_intro {display:inline-block}
.fotoframe iframe { transform: scale(0.7); width: 145%; margin: -145px 0px 0px -79px; height: 576px;}
}





ul.errors li:before {
	content: '❗';	
}

.error-container .buttons {
	text-align: center;
}

.error-container .buttons {
	margin-top: 1em;
}

.error-container {
	margin-bottom: 1em;
	color: red;
}

.error-container.empty {
	margin-bottom: 0;
}